@import "tailwindcss";

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200 700;
    src: url('./assets/fonts/nunitosans.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    src: url('./assets/fonts/nunitosans.woff2') format('woff2');
    font-display: swap;
}

@theme {
    --font-manrope: 'Manrope', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
}

html {
    font-family: var(--font-manrope);
    
}